@(registerForm:Form[Register]) 
@import helper._
<html>
<head>
	<title>welcome to Registeration page</title>
</head>
<body>
<div align="center">
<h1>Register</h1>
@helper.form(action = routes.RegistrationController.save()){

			@helper.inputText(registerForm("firstName"))
			@helper.inputText(registerForm("lastName"))
			@helper.inputText(registerForm("mobileNumber"))
			@helper.inputText(registerForm("emailId"))
			@helper.inputPassword(registerForm("password"))
			
			<input type="submit" value="Register">
}
<form action="/login">
    <input type="submit" value="Login" />
</form>
</body>
</body>
</html>
